
 .container{
 	margin: 0px auto;
 	width: 970px;
 
 	
 }


#nav , #nav ul{
	list-style: none ;
	margin: 0;
	padding: 0;
}

#nav{
	background-color: #006600;
	clear: both;
	
	height: 58px;
	padding: 0 0 0 6px;
	position: relative;
	width: 950px;
	margin-left:90px;
}

#nav ul{
	background-color: #222;
	border: 2px solid #222222;
	overflow: hidden;
	left: -9999px;
	position: absolute;
	/*top: -9999px;*/
	 z-index: 2;
	-moz-transform: scaleY(0);
	transform: scaleY(0);
}

#nav li{
	margin-top: 10px;
	background: url('../images/menu/menu_line.png') no-repeat right 10px;
	float: left;
	position: relative;
}

#nav li a{
	color: #FFF;
	display: block;
	float: left;
	line-height: 75%;
	font-size: 18px;
	height: 30px;
	margin-top: 5px;
	padding: 8px 8px 0;
	position: relative;
	text-decoration: none;
	text-shadow: 1px 1px 1px #066;
	
}


}
#nav li:hover > a{
	color: #00b4ff;
}

#nav li:hover, #nav a:focus, #nav a:hover, #nav a:active {
    background: none repeat scroll 0 0 #121211;
    outline: 0 none;
}

#nav ul li{
	/*background-color: #AFFFD7;*/
	width: 100%;
}


#nav ul li a {
	float: none;
}
#nav ul li:hover > a{
	background-color: #121211;
	color: #00B4FF;
}

#nav li:hover ul.subs {
    left: 0;
    top: 30px;
    width: 140px;

    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    
}

