
 #slider{
 
 	box-shadow: 0px 10px 50px white;
 	/*border: 2px solid black;*/
 	position: relative;
 	width: 800px;
 	margin: 0 auto;
 }
 
 .viewer{
 	width: 800px;
 	height: 470px;
 	overflow: hidden;
 	margin: 0 auto;
 }
.reel{
 	display: none;
 	height: 470px;
 }
 
 .slide{
 	position: relative;
 	width: 800px;
 	height: 470px;
 }
