html,body,h1,h4{
	margin: 0;
	padding: 0;
}
 h2{
 	
 	margin:  0;
 	padding: 0;
 	padding-top: 15px;
 	padding-bottom: 15px;
 	padding-left: 10px;
 	/*border-bottom:  2px  dotted green;*/
 	font-family: "Comic Sans MS" ;
 	background-color: #84C55F;
 	color: white;
 	margin-top: 20px;
 	border-radius:10px;
 }
 
 p{
 	margin-top: 20px;
 	font-family: "Georgia";
 	font-size: 16px;
 	color: #3a3a3a;
 	padding-left:10px; 
 	line-height: 1.3em;

 }
 

 
 .subs{
 	padding-bottom: 0px;
 	
 }
 .textdiv{
 	width: 980px;
 	margin: 0 auto;
 	background-color: #CFCFCF;
 	position: relative;
 	box-shadow: 10px 10px 20px white;
 	border-radius:7px;
 	
 }
 
 
 body{
 	margin: 0;
 	padding : 0;
 	background-color: red;
 	/*background-color: #afffd7;*/
 }
 #header1{
 /*	background: url('../images/bg.png');*/
	background-color: #FFFFFF;
 	height: 125px;
 	margin: 0 auto;
 	box-shadow: 0px 5px 10px black;
 }
 .under{
 	margin: 0 auto;
 	padding: 0px;
 	height: 133px;
 	width: 990px;
 	;
 	border-radius:10px;
  	
  	
 }
 .rside{
 	margin-top: 10px;
 	margin-bottom: 0px;
 	margin-right: 0px;
 	margin-right: 0px;
 	
 }

#side{
	width: 720px;
	margin : 0 auto;
}
#slider img{
	width:820px;
	height:450px;
}

#leftside{
	float: left;
	width: 570px;
}

#rightside{
	float: right;
	padding-left:20px;
	width: 367px;
	
}

.clear {

    margin: 0;
    padding: 0;
    clear: both;
    overflow: hidden;

}
#rightside ul{
	margin-top: 10px;
	padding-left: 10px;
}

#rightside a {
	font-size: 1.2em;
	list-style:disc;
	background-color: #4F4F4F;
	color:#6FBEC6;
	text-decoration: none;
}

#rightside a:hover{
	background-color: #6FBEC6;
	color:#000000;
}
#muntasir{
	width: 200px;
}


    #muntasir h3 {
    position: absolute;
    margin-bottom: 0px;
    padding: 0px;
    float: left;
    color: #FFF;
    background-color: #069;
    margin-top: 205px;
    margin-left: 15px;
}



#muntasir p{
	position: absolute;
margin-top: 235px;
margin-left: 0pxpx;
float: left;
color: #FFF;
background-color: #069;
width: 245px;
font-size: 11;
}

 #message{
 	background-color:#121212;
 	width:700px;
 	float: right;
 
 }
 
 .mesgsection{
 	width: 900px;
 	background-color: #4F4F4F;
 	
 }
 span{
 	cursor: pointer;
 	background-color: #006699;
 	color:  #CFCFCF;
	}
 
 span:hover{
 	background-color: #afd700;
 	color: #000;
 }
 
 #upfooter{
	width: 100%;
	height: 200px;
	background-color: #222222;
	/*background: rgba(22,22,22,0.10);*/
	box-shadow: inset 0 5px 18px rgba(0, 5, 18, 0.6);
	/*padding: 20px 10%;*/
}

.section1{
	float:  left;
	width: 33%;
	border-right: 5px solid #333333;
	padding-left: 80px;
}

#section2{
	float: right;
}
 #section2 img{
	/*margin-top: 90px;*/
	/*margin-right: 10px;*/
	float: right;
}
.section1 h3{
 	margin-left: 38px;
 	font-family: "Courier New" ;
 	font-size: 1.5em;
 	background-color: #DDD;
 }

#section2 h3{
	margin-right: 0px;
	font-family: "Courier New" ;
 	font-size: 1.5em;
 	background-color: #DDD;
}
#section3{
	text-align: center;
	background-color: #000;
	color: white;
	margin-top: 200px;
}
 #upfooter a , #upfooter li {
 	text-decoration: none;
 	color: #006677;
 	list-style: none;
 }

 
 #upfooter li:hover{
 	background-color: #AFD700;
 	color: #222222;
 	font-family: "Courier New" ;
 	font-size: 20px;
 	text-align: center;
 	font-weight: bold;
 }

#footer{
	width: 100%;
	height: 100px;
	background-color: #222222;
	/*background: rgba(22,22,22,0.10);*/
	box-shadow: inset 0 5px 18px rgba(0, 5, 18, 0.6);
	/*padding: 20px 10%;*/
}
#footer p{
	text-align: center;
	margin-top: 40px;
	padding-top: 50px;
}
 #footer a{
 	text-decoration: none;
 	color: black;
 }
 #semister{
 	margin-left: 40px;
 }
 #result-submission{
 	margin-left: 350px;
 	color: gray;
 }
 #admin{
 	
 	margin-left: 500px;
 	margin-top: 100px;

 }
 #admin h3{
 	background-color: black;
 	width: 170px;
 	color: #FFFFFF;
 	text-align: center;
 	padding: 5px;

 }
 #admin a{
 	color: white;
 }
 #cert{
 margin-left: 400px;
 }
 #cert h3{
 	background-color: black;
 	width: 400px;
 	text-align: center;
 	padding: 5px;
 }
 #cert a{
color: white;


 }
 #certificate{
 	margin-top: 60px;
 	margin-left: 200px;
 }
 #cft{
 	margin-top: 10px;
 	margin-left: 75px;
 	font-weight: bold;
 }

.image_section{
overflow: hidden;
width: 931px;
margin-top: 10px;
border: 5px solid green;
margin-bottom: 10px;
margin-left: 25px;
background-color: white;
}
.image1{
	width:250px;
	float:left;
	margin-left: 18px;
	margin-right: 20px
	margin-top: 8px;
	overflow:hidden;
	height: 220px

}
.content{
	margin-left: 40px;
	overflow: hidden;
	width: 600px;
	color: #000000;
	float: left;

}
.content p{
	color: #000000;
	font-weight: bold;
	text-align: center;
}
.content h2{
	
	text-align: center; 
}
#section2 a{
	color: red;
}
#selection{

	color: #000000;
	width: 360px;
	height: 320px;
	margin-top: 10%;
	margin-left: 30%;
	
}
#selection h4{
	color: #000000;
}
.student_login input{
	margin-bottom: 10px;
}
#result{
	width: 100%;
	height: 100%;
	background-color:#E9EAED;
	color: #7E1610;
}
#result h1{
	text-align: center;
	text-decoration: none;
}
#result1{
	margin-top: 20px;
	width: 33%;
	height: 33%;
	margin-left: 33%;
	border: 10px,dotted,red;
}
#semister{
	margin-left: 225px;
}
#semister a{color:#000000;
	margin-bottom: 20px;
	padding-right:25px;}
.semester-result-submission{
	margin-left:40px;
	color: #black;
	font-size: 16;
	font-weight: normal;
	text-align: right;
	margin-right: 400px;

}
.semester-result-submission input{
	font-size: 16;
	color: black;
}
#sem{
	text-align: center;

}
#result-submission{
	color: black;
}
#sem2{
	color: #D92672;
}
}

.subject-results{margin-top:50px;}
#registration{
	color: black;
	text-align: right;
	margin-right: 40%
	
}
.profile-img{left: -67px;
    position: relative;
    top: 0px;

}
#registration input{margin-top:5px;}
#registration select{margin-top:5px;}
.profile_pic{
	   left: -150px;
    position: relative;
    top: 27px;
	font-weight:normal;
}
.session-txt {
    left: -61px;
    position: relative;
}
.sessionss{ font-weight: normal;
    left: -62px;
    position: relative;}
#registration h1{
	color: green;
	text-decoration: underline;
}
#info, #user{
	text-align: center;
	color: #7AB900;
}
#info h1{
	color: red;
	text-align: center;
}
#info, #infor{
	text-align: center;
	color: white;
}
#info, #infor strong{
	color: red;
}
#get_result{
margin-left:188px;
color: #000;
margin-bottom: 2px;
}
#get_result table{
	color: black;
}
.a{
	color: red;
	text-align: center;
	margin-top: 10%;
}
#header{
	color: black;
	margin-left: 30%;
	font-size: 16;
}

#in_header a{
	color: red;
	text-align: center;
}
#header h1{
	text-decoration: underline;
	color: #32175A;
}
#in_header{
	margin-top: 20px;
	margin-left: 15%;

}
#in_header th{
	border: 1px solid black;
	color: black;
	padding: 5px;
	text-align: center;
}
#in_header table{
	border: 1px solid black;
	color: black;
	
}
#r td {
	border: 1px solid black;
	color: black;
	font-size: 18;
	padding: 5px;

}

#ab{
	margin-top: 100px;
	color: #7AB900;
	border: none;
}
#log_out{
margin-top:100px;
		
}
#session{
	color: #000000;
	margin-left: 40%;
	font-size:24;
}
#session a{
	color: blue;
}
#abb a{
	color: #000;
	margin-left: 40%;
	font-size: 24;
}
#st{
	margin-left: 150px;
}
#table {
	color: black;
}
#table tr{

	font-family: arial;
	font-size: 15px;
}
#table td{
	padding: 5px;
	
	border: .5px solid black;
}
#ab{
	color: black;
}

#about{
	width: 800px;
	margin-left: 150px;
	text-align: justify;
	color: rgb(250,125,45);
}

#about h1{
	color: #084755;
}

}
#forgot{
	color: yellow;


}
#forgot input{
	color: black;
	padding: 5px 10px;
	font-size: 12;
	
}
#forgot2{
	color: black;
	margin-left: 500px;
	margin-top: 100px;
	font-size: 18;
	}

#for{
	margin-left: 300px;
}
#body{
	background-color: #E9EAED;
}
#teacher{
	margin-left: 90px;
}
#paper{
	margin-top: 50px;
	margin-left: 300px;
	
}
#paper input{
	
}
#pr{
	margin-top: 20px;
	margin-left: 200px;
}
#pr td{
	width: 200px;
	border: 1px solid black;
	text-align: center;
}
